moviepy==1.0.3
edge-tts==6.1.12
requests==2.31.0
Pillow==10.0.1
opencv-python==4.8.1.78
numpy==1.24.3
pydub==0.25.1
gtts==2.4.0
nltk==3.8.1
diffusers==0.21.4
transformers==4.35.2
torch==2.1.1
accelerate==0.24.1
scipy==1.11.4
matplotlib==3.8.2
imageio==2.31.6
imageio-ffmpeg==0.4.9
google-generativeai==0.3.2
whisper-timestamped==1.14.2
stable-diffusion-cpp-python==0.1.4
emoji==2.9.0
colorama==0.4.6
tqdm==4.66.1
speech_recognition==3.10.4
whisper==1.1.10
openai-whisper==20231117
mutagen==1.47.0
librosa==0.10.1
soundfile==0.12.1
spacy==3.7.2
textblob==0.17.1
scikit-image==0.22.0
Wand==0.6.13